{{> menu}}

<section class="section">
  <div class="title">
    {{station.name}}
    <div class="subtitle">
      Min Temp: {{minTempReading.temperature}}
      Max Temp: {{maxTempReading.temperature}}
      latest Code: {{latestCodeReading.code}}
      latest Temp C: {{latestTempReading.temperature}}
      latest Temp F: {{convertLatestTempReading}}
      latest WindSpeed: {{latestWindSpeedReading.windSpeed}}
      latest Pressure: {{latestPressureReading.pressure}}
    </div>
  </div>
  {{> list-readings}}
  {{> add-reading}}
</section>